*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  
}
@font-face {
    font-family: depixel;
    src: url(../font/DePixelHalbfett.otf);
    font-display: swap;
}
body{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: depixel;
  background: #3a6186;
  background: linear-gradient(to right, #89253e, #3a6186);
}

main{
  width: 320px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 20px 0px #000000;
}
.title{
  font-weight: bold;
  font-size: 16px;
}
.menu{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
button{
  padding: 4px 8px;
  padding-right: 6px;
  border: 2px solid black;
  font-family: depixel;
  font-size: 10px;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
}
button:hover{
  background-color: #825374;
  color: white;
}
.picker{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.canvas{
  display: grid;
  grid-template-columns: repeat(28,10px);
  border-top: 1px solid rgb(192, 192, 192);
  border-left: 1px solid rgb(192, 192, 192);
}
.cell{
  height: 10px;
  border-bottom: 1px solid rgb(194, 194, 194);
  border-right: 1px solid rgb(192, 192, 192);
}